@model ZureRoom.Models.Tafel

@{
    ViewBag.Title = "Samenvoegen";
}

<h2>Samenvoegen</h2>

<div>
    <h4>Tafel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TableNmr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableNmr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chairs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chairs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combined)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
