@model ZureRoom.Models.Menu

@{
    ViewBag.Title = "Verwijderen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu verwijderen</h2>

<h3>Weet u zeker dat dit menu verwijderd moet worden?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuImg)
        </dt>

        <dd>
            @if (Model.MenuImg != null)
            {
                @Html.HiddenFor(model => Model.MenuImg.Id)
                @Html.HiddenFor(model => Model.MenuImg.MenuImgPlace)
                <br /><img src="~/Content/Uploads/@Model.ID/@Model.MenuImg.MenuImgPlace" class="MenuImg" /><br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nuts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nuts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shellfish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shellfish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eggs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eggs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar overzicht menu's", "Index")
        </div>
    }
</div>
