@model ZureRoom.Models.Menu

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuImg)

        </dt>

        <dd>
            @if (Model.MenuImg != null)
            {
                @Html.HiddenFor(model => Model.MenuImg.Id)
                @Html.HiddenFor(model => Model.MenuImg.MenuImgPlace)
                <br /><img src="~/Content/Uploads/@Model.ID/@Model" class="DetailMenuImg" /><br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nuts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nuts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shellfish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shellfish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eggs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eggs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Reserveer" class="btn btn-default" />
        </div>
    </div>
    @Html.ActionLink("Terug naar overzicht menu's", "Index")
    @if (User.IsInRole("Admin, Cook"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    }
</p>